extends layout

block content
    #wrapper 
      #header
        h1 Chat
        #settings-wrapper
          a(href='#')
            img#settingsIcon(src='/images/icons/settings.png')
          #settingsMenu
            div
              img(src='/images/dexter.jpg')
              | This is text
      #mainframe
        // Contactlist 
        #left-panel
          #searchuser-wrapper
            #searchIcon-wrapper
              img(src='/images/icons/search.png')
            #searchInput-wrapper
              input#searchInput-js
            #addUser-wrapper
              a#addUser-js.tooltip(href='javascript:;', data-tip='Add User')
          #contactlist-wrapper
            ul#contactlist
              - each user in contacts
                li(id="uid"+user._id).online
                  img(src="/images/userimages/"+user._id+".jpg")
                  .userinfo
                    strong.username= user.username
                    p.availability • Online            

        // Chatwindow 
        #right-panel
          #conversation-wrapper
            ul#conversation
              - each message in messages
                li
                  - if (user_id==message.sender)
                    .message.outgoingMessage
                      img(src="/images/userimages/"+message.receiver+".jpg")
                      .messagetext                    
                        strong.username= message.receiver
                        ul.messages
                          li
                            p= message.text
                        p.time= message.created_at
                  - else
                    .message.incomingMessage
                      img(src="/images/userimages/"+message.receiver+".jpg")
                      .messagetext                    
                        strong.username= message.receiver
                        ul.messages
                          li
                            p= message.text
                        p.time= message.created_at
                        
          // Chatinput 
          #chatinput-wrapper
            input#chatinput-js
      // Scripts 
      script(src='/javascripts/lib/jquery-1.7.2.min.js', type='text/javascript')
      script(src='/javascripts/client.js', type='text/javascript')
      script(src='/javascripts/script.js', type='text/javascript')
