extends layout

block content
    #wrapper 
      #header
        h1 Chat
        #logout-wrapper
          a(href='logout')
            img#logoutIcon(src='/images/icons/logout.png', alt='logoutIcon', title='Logout')
      #mainframe
        // Contactlist 
        #left-panel
          #searchuser-wrapper
            #searchIcon-wrapper
              img(src='/images/icons/search.png', alt='searchIcon')
            #searchInput-wrapper
              input#searchInput-js
            //#addUser-wrapper
              a#addUser-js(href='javascript:;', title='Add User')
          #contactlist-wrapper
            ul#contactlist.userlist
              - each contact in contacts
                li(id="uid"+contact._id).offline
                  img(src="/images/userimages/"+contact._id+".jpg", alt="userimages"+contact.username)
                  .userinfo
                    strong.username= contact.username
                    p.status • Offline
            ul#searchresult.userlist
              li.header= "Not in your contact list"
            ul#friendrequest.userlist
              li.header= "Friend requests"
        // Chatwindow 
        #right-panel
          #conversation-wrapper
            ul#conversation
                        
          // Chatinput 
          #chatinput-wrapper
            input#chatinput-js
      
      input(type='hidden', id='userId', value='#{userId}')
      input(type='hidden', id='userName', value='#{username}')
      
      // Scripts
      script(src='/javascripts/lib/jquery-1.7.2.min.js', type='text/javascript')
      script(src='/javascripts/client.js', type='text/javascript')
      script(src='/javascripts/script.js', type='text/javascript')
